{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "flowtype"
  ],
  "rules": {
    "comma-dangle" : [2, "always-multiline"],
    "max-len": [1, 120, 2, {ignoreComments: true}],
    "semi": [2, "never"],
    "new-cap": [2, { newIsCap: true, capIsNewExceptions: ["Theme"] }],
    "jsx-quotes": [2, "prefer-single"],
    "no-use-before-define": 0,
    "import/no-extraneous-dependencies": [2, {
      devDependencies: true,
      optionalDependencies: false
    }],
    "flowtype/require-parameter-type": 1,
    "flowtype/require-return-type": [
        0,
        "always",
        {
            "annotateUndefined": "never"
        }
    ],
    "flowtype/space-after-type-colon": [
        1,
        "always"
    ],
    "flowtype/space-before-type-colon": [
        1,
        "never"
    ],
    "flowtype/type-id-match": [
        1,
        "(^([A-Z][a-z0-9]+)+T$)"
    ],
    "flowtype/define-flow-type": 1,
    "react/jsx-key": 2,
    "react/jsx-handler-names": [1, {
      eventHandlerPrefix: "handle",
      eventHandlerPropPrefix: "on",
    }],
    "react/jsx-max-props-per-line": [1, { maximum: 1 }],
    "react/jsx-no-literals": 1,
    "react/no-direct-mutation-state": [2, "always"],
    "react/prefer-stateless-function": 1,
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "react/sort-comp": 0,
  },
  "settings": {
    "flowtype": {
        "onlyFilesWithFlowAnnotation": true
    }
  },
  "globals": {
    "test": true,
    "expect": true,
    "document": true,
    "window": true
  }
}
